body {
    color: #070707;
    background-color: #FFD1DC;
    font-family: 'Merriweather', serif;
    font-weight: 400;
  }

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 5rem;


  }
